/* Profile.module.css */
.profileContainer {
background-color: #e0f2fe;
  /* width: 60%; */
  width: 100%;
  /* margin: 5rem auto; 5rem top and bottom margin */
  margin:  auto; /* 5rem top and bottom margin */
  display: flex;
  justify-content: center;
  /* border: 2px solid; */
}

.profileCard {
  /* width: 50%; */
  background: #fff;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  /* margin-top: -15rem; */
  margin: -12rem 2rem 0 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  transition: 2s ease-in-out;
  /* border: 2px solid; */
}
.profileCard:hover{
  transform: scale(0.98);
}

.profileImage {
  width: 10rem; 
  height: 10rem; 
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  /* border: 2px solid; */

}

.profileName {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: start;
}

.profileEmail,
.profileUsername,
.profilePhone,
.profileAddress {
  color: #121111;
  margin-bottom: 0.25rem;
  text-align: start;
  font-size: 20px;
  font-weight: 400;

}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.profileCard {
  text-align: center;
}

.profileImage {
  display: block;
  margin: 0 auto; 
  border-radius: 50%; 
  width: 150px;
  height: 150px; 
  object-fit: cover; 
}

.profileName {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Add any additional styling for other profile details */
