.formGroupContainer {
  @apply min-h-full 
  flex items-center 
  justify-center 
  py-12 
  px-4 
  sm:px-6 
  lg:px-8
  w-full
  bg-sky-100;
}

.formGroup {
  @apply max-w-md 
  w-full 
  space-y-8
  pt-6
  pb-12
  pl-10
  pr-10
  my-auto
  shadow-sm
  w-full
  border-zinc-900/10
  shadow-zinc-900/10
  rounded-md 
  bg-sky-200
  hover:bg-sky-300;
}

.title {
  @apply mt-6 
  text-center 
  text-5xl 
  font-extralight 
  tracking-wide;
}

.signUpForm {
  @apply mt-8
  space-y-6
  px-20;
}

.inputGroup {
  @apply rounded-md  
  -space-y-px
  relative;
}

.input {
  @apply appearance-none 
  relative 
  block 
  w-full
  mb-4
  px-3 
  py-2 
  border 
  shadow-sm
  border-zinc-900/10
  shadow-zinc-900/10
  placeholder-zinc-900/50 
  rounded-md
  focus:outline-none  
  focus:ring-1 
  focus:ring-blue-600 
  focus:z-10 
  sm:text-sm;
}

.button {
  @apply inline-flex 
  justify-center 
  w-full
  rounded-md 
  shadow-sm
  shadow-zinc-900/10
  text-sm
  font-bold
  text-zinc-50
  px-2
  py-2
  bg-blue-600
  hover:bg-yellow-300;
}

.linkBox {
  @apply flex 
  items-center 
  pb-5;
}

.linkDiv {
  @apply flex 
  items-center 
  mx-auto;
}

.error {
  @apply text-xs
  text-red-500
  inline-block
  mx-auto
  my-0
  py-0;
}

.successNotification {
  position: fixed; /* or absolute, depending on your layout */
  top: 50%; /* Adjust as necessary */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50; /* Background color for success */
  color: white; /* Text color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure this is higher than other elements */
}
.formGroup {
  width: 40%; /* Adjust this value as needed */
  max-width: 800px; /* Or whatever maximum width you prefer */
  margin: auto; /* Center the container */
}
.inputGroupRow {
  display: flex;
  justify-content: space-between;
}

.inputGroupHalf {
  flex: 1;
  margin-right: 10px; /* Add space between inputs, adjust as needed */
}

.inputGroupHalf:last-child {
  margin-right: 0; /* Remove margin for the last element */
}

.input {
  /* Assuming .input is your existing class */
  width: 100%; /* Ensure input takes full width of its parent */
  height: 50px;
}
